@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    height: 100%;
    background-color: rgb(100, 100, 87);
    .header {
        height: 100px;
        .logo {
            position: relative;
            height: 100px;
            background-color: rgb(0, 0, 0);
            span {
                color: rgb(251, 255, 1);
                position: absolute;
                font-size: 60px;
                top: 18px;
            }
        }
        .sitename {
            height: 100px;
            background-color: rgb(0, 0, 0);
            a {
                font-family: 'Lobster', cursive;
                color: rgb(251, 255, 1);
                text-align: center;
                text-decoration: none;
                h1 {
                    text-decoration: none;
                }
            }
            h1:hover {
                box-shadow: inset 0 0 0 1px rgb(251, 255, 1);
                transition: all 0.9s ease;
            }
        }
        .nav {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(0, 0, 0);
            ul {
                text-align: center;
                overflow: hidden;
                width: 100%;
                margin: 0 auto;
                list-style-type: none;
                li {
                    display: inline;
                    color: rgb(116, 109, 109);
                    text-decoration: none;
                    .button {
                        display: inline-block;
                        font-family: 'Amatic SC', cursive;
                        padding-left: 50px;
                        padding-bottom: 30px;
                        color: rgb(251, 255, 1);
                        text-decoration: none;
                        font-size: 18px;
                    }
                    .button:hover {
                        -webkit-transform: rotateZ(20deg);
                        -ms-transform: rotateZ(20deg);
                        transform: rotateZ(20deg);
                        transition: all 1s ease;
                    }
                }    
            }
        }
        .oform {
            display: flex;
            justify-content: center;
            background-color: rgb(251, 255, 1);
            height: 60px;
            h2 {
                font-family: 'Lobster', cursive;
                color: black;
                font-size: 22px;
            }
        }
    }
    .main-content {
        height: auto;
        .buing {
            background-color: black;
            .forma {
                display: flex;
                flex-direction: column;
                align-items: center;
                input, textarea {
                    width: 300px;
                    color: rgb(251, 255, 1);
                    background-color: black;
                    border: 2px solid rgb(251, 255, 1);
                }
                textarea {
                    height: 100px;
                }
                input {
                    height: 40px;
                }
            }
            .okno {
                padding: 0;
                margin: 0;
                @media screen and (max-width: 768px) {
                    display: flex;
                    justify-content: center;
                }
                @media screen and (max-width: 480px) {
                    display: flex;
                    justify-content: center;
                }
                .href {
                    text-decoration: none;
                    color: rgb(255, 217, 0);
                    font-family: 'Lobster', cursive;
                }
                .modal {
                    position: fixed;
                    top: 0;
                    bottom: o;
                    right: 0;
                    left: 0;
                    background: rgba(0,0,0,.5);
                    pointer-events: none;
                    display: none;
                    z-index: 99999;
                    // transition: all 0.9s ease;
                    P {
                        font-family: 'Lobster', cursive;
                    }
                }
                .modal:target {
                    display: block;
                    pointer-events: auto;
                    transition: all 0.9s ease;
                }    
                .popup {
                    width: 500px;
                    position: relative;
                    margin: 10% auto;
                    padding: 20px;
                    text-align: center;
                    border-radius: 30px;
                    background: rgb(240, 168, 36);
                    transition: all 0.9s ease;
                    .close {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        color: rgb(251, 255, 1);
                        font-weight: bold;
                        font-size: 20px;
                        top: -30px;
                        right: -15px;
                        text-decoration: none;
                        display: block;
                        transition: all 0.9s ease;
                    }
                } 
            }
        }        
    }
    .footer {
        height: auto;
        .logo,.sitename,.copyright {
            height: 100px;
        } 
        .logo {
            background-color: rgb(0, 0, 0);
            span {
                color: rgb(251, 255, 1);
                position: absolute;
                font-size: 60px;
                top: 18px;
            }
        }
        .sitename {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgb(2, 2, 3);
            p {
                color: rgb(251, 255, 1);
            }
        }
        .copyright {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(0, 0, 0);
            ul {
            text-align: center;
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            list-style-type: none;
                li {
                    display: inline;
                    color: rgb(116, 109, 109);
                    text-decoration: none;
                    .button {
                        display: inline-block;
                        padding-left: 50px;
                        padding-right: 15px;
                        color: rgb(251, 255, 1);
                        text-decoration: none;
                        font-size: 18px;
                        margin-right: 10px;
                    }
                    .button:hover {
                        -webkit-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        transform: scale(1.3);
                        transition: all 0.8s ease;
                    }  
                }    
            }
            .icons {
                display: flex;
                align-items: center;
            }
            .social a {
                text-align:center;
                width:46px;
                height:46px;
                float:left;
                background:rgb(5, 22, 20);
                border:3px solid rgb(208, 255, 0);
                box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
                border-radius:46px;
                margin:0 10px 10px 0;
                padding:6px;
                color:rgb(240, 202, 34);
            }
        }
    }
}
