
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css?family=Spectral|Tenor+Sans&subset=cyrillic');


@font-family-all-1: 'Tenor Sans', sans-serif;
@font-family-all-2: 'Spectral', serif;
@background-color: white;

@keyframes slidein {
    0% {
      left: 0px;
    }

    50% {
        left: 200px;
    }

    100% {
        left: 0px;
    }
}

@keyframes boxshadow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
    }
}

.socialweb() {
    text-align:center;
    width:46px;
    height:46px;
    float:left;
    background:rgb(255, 255, 255);
    // border: 1px solid rgb(130, 65, 236);
    -webkit-box-shadow: 0 8px 33px rgba(39, 88, 224, 0.67), inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 10px rgba(34, 149, 216, 0.75), inset 0 0 20px rgb(161, 186, 202);
    border-radius: 17px;
    margin:0 10px 10px 0;
    padding:6px;
    color:#2858be;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.icontransform() {
    transform: translateY(-5px);
    transition: all .5s ease;
    background: #e6e9ec;
    height: 45px;
}

.category-2() {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255); 
    border-bottom: 2px solid #cecccc;
    padding-bottom: 30px;
}



body {
    background-color: @background-color;
    .header {
        height: 120px;
        border-bottom: 2px solid rgb(206, 204, 204); 
        .col-lg-1 {
            padding-left: 0;
            padding-right: 0;
            .logo {
                position: relative;
                background-color: @background-color;
                height: auto;
                width: 100%;
                span {
                    color: #2e1a4e;
                    position: absolute;
                    font-size: 80px;
                    top: 18px;
                    left: -7px;

                    @media screen and (max-width:992px) {
                        font-size: 64px;
                    }
                }
            }
        }
        .col-lg-3 {
            padding-left: 0;
            padding-right: 0;
            .sitename {
                background-color: @background-color;
                a {
                    font-family: @font-family-all-1;
                    color: #878d96;
                    text-align: center;
                    text-decoration: none;
                    h1 {
                        font-size: 30px;
                        text-decoration: none;
                        text-align: left;
                    }
                }
                .unselectable {
                    font-family: @font-family-all-1;
                    text-align: left;
                    color: #000000;
                    font-size: 14px;
                    -webkit-touch-callout: none; 
                    -webkit-user-select: none;  
                    -khtml-user-select: none;    
                    -moz-user-select: none;      
                    -ms-user-select: none;       
                    user-select: none; 
                }
            }
        }
        .col-lg-8 {
            padding-left: 0;
            padding-right: 0;
            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: @background-color;
                height: 100px;
                .products {
                    ul {
                        text-align: center;
                        overflow: hidden;
                        width: 100%;
                        margin: 0 auto;
                        list-style-type: none;
                        li {
                            display: inline;
                            color: rgb(116, 109, 109);
                            text-decoration: none;
                            .tab {
                                color: #878d96;
                                text-decoration: none;
                                font-size: 17px;
                                padding-right: 40px;
                                font-family: @font-family-all-1;
                                font-weight: bold;

                                @media screen and (max-width:1200px) {
                                    font-size: 16px;
                                }
                            }
                            .tab:hover {
                                color: #2e1a4e;
                                transition: all 0.2s ease;
                            }
                            .button-telephone {
                                display: inline-block;;
                                color: #878d96;
                                text-decoration: none;
                                font-size: 30px;
                                font-family: @font-family-all-1;
                                font-weight: bold;

                            }
                            .button-telephone:hover {
                                color: #2e1a4e;
                                transition: all 0.2s ease;
                            }
                        }
                    }    
                }
            } 
        }
    }
    .main-content {
        padding: 0;
        .col-lg-12 {
            padding-left: 0;
            padding-right: 0;
            .category-1 {
                margin-top: 80px;
                margin-bottom: 30px;
                background-color: rgb(255, 255, 255); 
                padding-bottom: 30px;
                .category-1-headline { 
                    .k1 {
                        position: relative;
                        left: 0px;
                        font-size: 30px;
                        text-align: left;
                        font-family: @font-family-all-1;
                        font-weight: bold;
                        animation: slidein 3s forwards;


                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
                .category-1-container {
                    display: flex;
                    justify-content: space-between;  ;
                    .category-1-paragraph {
                        width: 40%;
                        p {
                            font-family: @font-family-all-1;
                            font-size: 15px;
                        }
                    }   
                    .category-1-image {
                        background-image: url(../image2/woman.jpg); 
                        width: 50%;
                        height: 320px;
                        background-size: cover;
                        background-color: rgb(77, 74, 74);
                        background-blend-mode: overlay;
                        border-radius: 10px;
                    }
                }
            }
        }    
        .col-lg-6 {
            padding-left: 0;
            padding-right: 0;
            .product-1 {
                background-color: rgba(255, 255, 255, 0.5);
                display: flex;
                justify-content: center;
                height: 750px;
                flex-direction: column;
                align-items: center;
                // box-sizing: border-box;
                // border: 5px solid transparent;
                // border-image: linear-gradient(to left, transparent 0%, #c0cbcc 100%);
                // border-image-slice: 1;
                border-radius: 5px;
                animation: boxshadow 5s forwards;
                margin: 10px 20px;
                .image {
                    .img-responsive {
                        width: 370px;
                        height: 350px;
                        border-radius: 5%;
                        -moz-transition: all 0.3s ease-out;
                        -o-transition: all 0.3s ease-out;
                        -webkit-transition: all 0.3s ease-out;
                    }
                    .img-responsive:hover {
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -o-transform: scale(1.1);
                    }
                }
                .about-product {
                    h3 {
                        font-family: @font-family-all-1;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                        font-size: 15px;
                        font-family: @font-family-all-1;
                        padding: 0px 30px 0 30px;
                    }
                    .price {
                        font-weight: bold;
                        font-size: 30px;
                        text-align: center;
                        font-family: @font-family-all-1;
                    }
                    .buy {
                        color: rgb(255, 255, 255);
                        input {
                            background-color: rgb(45, 44, 131);
                            font-family: @font-family-all-2;
                            width: 150px;
                            height: 50px;
                            border-radius: 10px;
                        }
                        input:hover {
                            outline: medium none;
                            color: #fff;
                            text-decoration: none;
                            box-shadow: 0 5px 11px 0 rgba(151, 136, 136, 0.18), 0 4px 15px 0 rgba(0,0,0,.15);
                            background-color: rgb(79, 129, 236);
                            transition: .5s;
                        }
                    }
                }
            }
        }
        .col-lg-12 {
            .category-2 {
                margin-top: 100px;
                background-color: rgb(255, 255, 255); 
                padding-bottom: 30px;
                .category-2-headline {
                    height: 100px;
                    background-color: rgb(255, 255, 255);
                    border-top: 2px solid rgb(206, 204, 204);
                    margin-top: 50px;
                    .k1 {
                        position: relative;
                        left: 0px;
                        font-size: 30px;
                        text-align: left;
                        font-family: @font-family-all-1;
                        font-weight: bold;
                        animation: slidein 6s forwards;

                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
                .category-2-container {
                    display: flex;
                    justify-content: space-between;  ;
                    .category-2-paragraph {
                        width: 40%;
                        p {
                            font-family: @font-family-all-1;
                            font-size: 15px;
                        } 
                    }
                    .category-2-image {
                        background-image: url(../image2/man.jpg); 
                        width: 50%;
                        height: 320px;
                        background-size: cover;
                        background-color: rgb(77, 74, 74);
                        background-blend-mode: overlay;
                        border-radius: 5px;
                    }
                }
            }
        }
        .col-lg-6 {
            padding-left: 0;
            padding-right: 0;
            .product-2 {
                background-color: rgba(255, 255, 255, 0.5);
                display: flex;
                justify-content: center;
                height: 750px;
                flex-direction: column;
                align-items: center;
                // box-sizing: border-box;
                // border: 5px solid transparent;
                // border-image: linear-gradient(to left, transparent 0%, #c0cbcc 100%);
                // border-image-slice: 1;
                border-radius: 5px;
                margin: 10px 20px;
                animation: boxshadow 5s forwards;
                margin: 10px 20px;
                .image{ 
                    .img-responsive {
                        width: 370px;
                        height: 350px;
                        border-radius: 5%;
                        -moz-transition: all 0.3s ease-out;
                        -o-transition: all 0.3s ease-out;
                        -webkit-transition: all 0.3s ease-out;
                    }
                    .img-responsive:hover {
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -o-transform: scale(1.1);
                    }
                }
                .about-product {
                    h3 {
                        font-family: @font-family-all-1;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                        font-size: 15px;
                        font-family: @font-family-all-1;
                        padding: 0px 30px 0 30px;
                    }
                    .price {
                        font-weight: bold;
                        font-size: 30px;
                        text-align: center;
                        font-family: @font-family-all-1;
                    }
                    .buy {
                        color: rgb(255, 255, 255);
                        input {
                            background-color: rgb(45, 44, 131);
                            font-family: @font-family-all-2;
                            width: 150px;
                            height: 50px;
                            border-radius: 10px;
                        }
                        input:hover {
                            outline: medium none;
                            color: #fff;
                            text-decoration: none;
                            box-shadow: 0 5px 11px 0 rgba(151, 136, 136, 0.18), 0 4px 15px 0 rgba(0,0,0,.15);
                            background-color: rgb(79, 129, 236);
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }    
    .footer {
        .col-lg-8 {
            .footer-nav {
                display: flex;
                justify-content: space-between;
                height: 150px;
                .copyright {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: rgb(255, 255, 255);
                    width: 50%;
                    ul {
                        display: flex;
                        justify-content: space-around;
                        padding: 0;
                        width: 100%;
                        margin: 0 auto;
                        list-style-type: none;
                        padding: 0;
                        color: rgb(251, 255, 1);
                        width: 100%;
                        li {
                            display: inline;
                            color: rgb(19, 161, 204);
                            text-decoration: none;
                            .button {
                                display: inline-block;
                                color: #878d96;
                                text-decoration: none;
                                font-size: 16px;
                                font-family: @font-family-all-1;
                                font-weight: bold;
                            }
                            .button:hover {
                                color: #2e1a4e;
                                transition: all 0.8s ease;
                            } 
                        }
                    }
                }
                .icons {
                    display: flex;
                    align-items: center;
                    
                    .instagram { 
                        margin-left: 20px;
                        a {
                            .socialweb();
                        }  
                        a:hover {
                            .icontransform();
                        }
                    }
                    .facebook {
                        margin: 0 45px 0; 
                        }
                        a {
                            .socialweb()
                        }
                        a:hover {
                            .icontransform();
                        }
                    }  
                    .vk {
                        a {
                            .socialweb()
                        }
                        a:hover {
                            .icontransform();
                        }
                    }  
                }
            }
        }
        .col-lg-3 {
            .footer-site {
                height: 150px;
                display: flex;
                align-items: center;

                @media screen and (max-width:992px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .sitename {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(255, 255, 255);
                    p {
                        color: #878d96;
                    }
                }
            }
        }
        .col-lg-1 {
            .footer-logo {
                height: 150px;
                .logo {
                    position: relative;
                    background-color: rgb(0, 0, 0);
                    span {
                        color: #2e1a4e;
                        position: absolute;
                        font-size: 80px;
                        top: 18px;
                        left: -7px;
                    }
                }
            }
        }
    }

